// previous
.slide-previous-leave-active {
  animation: fadeOutDown 0.5s;
}
.slide-previous-enter-active {
  animation: fadeInDown 0.5s;
}
// next
.slide-next-enter-active {
  animation: fadeInUp 0.5s;
}
.slide-next-leave-active {
  animation: fadeOutUp 0.5s;
}
