// previous
.slide-previous-leave-active {
  animation: fadeOutRight 0.5s, fadeOut 0.1s;
}
.slide-previous-enter-active {
  animation: fadeInLeft 0.5s;
}
// next
.slide-next-enter-active {
  animation: fadeInRight 0.5s;
}
.slide-next-leave-active {
  animation: fadeOutLeft 0.5s, fadeOut 0.1s;
}
