$color-white:      #ffffff;
$color-black:      #333333;
$color-lightgrey:  #EBE9E9;
$color-grey:       #C4C4C4;
$color-blackgrey:  #818E9B;
$color-green:      #415F43;
$color-lightblue:  #659A97;
$color-yellow:     #FBC56D;
$color-red:        #BE2B2D;
$color-blue:       #50807C;

$font-poppins: 'Poppins', sans-serif;
